body {
  background-color: black;
  color: white;
}

.App {
  text-align: center;
  font-family: OCR A Std, monospace;
}

.Church-container {
  background-color: rgb(85, 25, 25);
  width: 20%;
  padding-top: 1%;
  border: 1px solid white;
  margin-left: 2%;
  margin-top: 2%;
}

.Item-Container {
  float: right;
  width: 40%;
  height: 100%;
  border: 2px solid blue;
}

.church-img {
  width: 100%;
}